.class {
    display: flex; 
    justify-content: space-between;
}

.logo {
    color: white; 
    text-decoration: none; 
}

#logo-name {
    color: #90c83e;
}

#logo-stats {
    color: #d6d5d5;
    font-weight: 400;
}