.class {
    display: flex; 
    justify-content: space-between;
}

.logo {
    color: white; 
    text-decoration: none; 
}

#logo-name {
    color: #43A047;
}

#logo-stats {
    color: #d6d5d5;
    font-weight: 400;
}

span {
    text-shadow: 1px 1px black;
    font-size: 24px;
}

.spacer {
    flex-grow: 1;
}